:root {
  margin: 0 48px;

  --theme-primary: #003135;
  --theme-secondary: #024950;
  --theme-tertiary: #964734;
  --theme-quaternary: #0fa4af;
  --theme-quinary: #afdde5;
}

body {
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  background-color: var(--theme-primary);
}
