.navigate-icon {
  block-size: 24px;
  inline-size: 24px;
  cursor: pointer;
}

.navigate-icon.secondary {
  fill: var(--theme-secondary);
}

.navigate-icon.quaternary {
  fill: var(--theme-quaternary);
}
